<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    props: {
      msg: String,
    },
    data() {
      return {
        message: this.$props.msg,
      };
    },
    components: {},
    create() {
      console.log(data);
    },
    methods: {},
  };
</script>

<style></style>
